img {
	width: 426px;
}

#left, #right { 
	height: 75px;
	width: 75px;
}


#container {
	width: 100%;
	margin: 5em auto;
	padding: 0;
	background: #fff; 
 
}

.items {
	width: 426px;
	height: 240px;
	background: #ECECEC;
	padding: 10px;
}
