div {
	margin-top: 100px;
}

#left, #right {
	height: 100px;
	width: 100px; 
}


#container {
	width: 100%;
	margin: 5em auto;
	padding: 0;
	background: #fff; 
}

.items {
	min-width: 400px;
	height: 400px; 
	background: #ECECEC;
	text-align: center;
	font-family: Arial;
	font-size: 5em;
}
