img {
	width: 426px;
}

div {
	margin-top: 100px;
}

#left, #right {
	height: 75px;
	width: 75px;
}

 
#container {
	padding-top: 20px;
	width: 100%;
	margin: 5em auto;
	padding: 0;
	background: #fff; 

} 

.items img {
	width: 426px;
	height: 240px;
	background: #ECECEC;
	padding: 10px;
}

.items p {
	min-width: 400px;
	height: 400px;
	background: #ECECEC;
	text-align: center;
	font-family: Arial;
	font-size: 5em;
}


