* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Calibri;
}

button {
	padding-right: 10px;
	padding-left: 10px;
	border: none;
	background-color: #c6ff40; 
	font-size: 20px;
	border-radius: 5px;
}

input {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}

input::placeholder {
	text-align: center;
	border-radius: 5px;
}

.wrapper {
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
	width: 600px;
}

.btnblock {
	padding-top: 25px;
	width: 800px;
	display: none;
	justify-content: space-between;
}
